.btn {
  display: block;
  width: 100%;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 300;
  background-color: black;
  color: white;
  margin: 0 auto;
  padding: 1rem 0;
  border: 0;
  outline: none;
  border-radius: 2.5rem;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;

  .children {
    margin: 0 1rem;
  }
}