.footer {
  background-color: black;
  color: #fff;
  .wrap {
    max-width: 1450px;
    padding: 5px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .footer {
    .wrap {
      justify-content: center;
      .footer-contact {
        display: none;
      }
      .footer-copyright {
        text-align: center;
      }
    }
  }
}
